<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body bgcolor=Moccasin>
<h1 align="center">Operator Page</h1>

<form th:action="@{/}" method="get">
    <input type="submit" value="Back"/>
</form>

<p th:text="'New requests:'" />
<form th:action="@{/consideration}" method="get">
    <p><b>Select request:</b></p>
    <p th:each="request : ${req}">
        <input th:text="'Text: ' + ${request.text} + ' || User: ' + ${request.authorName}" name=str type="radio" th:attr="value=${request.id}"  /> <br />
    </p>
    <p><input type="submit" value="Select"></p>
</form>

</body>
</html>